body, .center-align>.jumbotron {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,f7da00+20,fccd4d+40,fccd4d+60,f7d200+80,fbdf93+100 */
    background: rgb(252,234,187); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmNlYWJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZjdkYTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjZmNjZDRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmNjZDRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZjdkMjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZGY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  rgb(252,234,187) 0%, rgb(247,218,0) 20%, rgb(252,205,77) 40%, rgb(252,205,77) 60%, rgb(247,210,0) 80%, rgb(251,223,147) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(252,234,187)), color-stop(20%,rgb(247,218,0)), color-stop(40%,rgb(252,205,77)), color-stop(60%,rgb(252,205,77)), color-stop(80%,rgb(247,210,0)), color-stop(100%,rgb(251,223,147))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(-45deg,  rgb(252,234,187) 0%,rgb(247,218,0) 20%,rgb(252,205,77) 40%,rgb(252,205,77) 60%,rgb(247,210,0) 80%,rgb(251,223,147) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(-45deg,  rgb(252,234,187) 0%,rgb(247,218,0) 20%,rgb(252,205,77) 40%,rgb(252,205,77) 60%,rgb(247,210,0) 80%,rgb(251,223,147) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(-45deg,  rgb(252,234,187) 0%,rgb(247,218,0) 20%,rgb(252,205,77) 40%,rgb(252,205,77) 60%,rgb(247,210,0) 80%,rgb(251,223,147) 100%); /* IE10 preview */
    background: linear-gradient(135deg,  rgb(252,234,187) 0%,rgb(247,218,0) 20%,rgb(252,205,77) 40%,rgb(252,205,77) 60%,rgb(247,210,0) 80%,rgb(251,223,147) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }

.center-align {
    padding: 70px 0;
    text-align: center;
  }

