footer {
    background: rgb(79, 221, 60);
    color: white;
    bottom: 0;
    /* height: 20%; */
    width: 100%;
    position: fixed;
    margin-top: 61%;

}

#github {
    font-size: 20px;
    color: white;
}

#github:hover {
    color: rgb(218, 53, 53);
}
