footer {
    font-size: 15px;
    background: rgb(218, 53, 53);
    color: white;
}

#github {
    font-size: 20px;
    color: white;
}

#github:hover {
    font-size: 150%;
    color: rgb(71, 168, 71);
}

