header {
  background-color: rgb(79, 221, 60);
  font-size: 16px;
  width: 100%;
  top: 0;
}

#nav {
  margin-bottom: 0px !important;
}

.nav-link:hover {
  color: white !important;
}

.modal-backdrop {
  z-index: -1;
}
