
*{
    margin: 0px !important;
    padding: 0px !important;
}
.bai4{
    background-image: url(https://img.lovepik.com/photo/40088/5712.jpg_wh860.jpg);
}
h1{
    text-align: center;
    color: green;
}
.content{
    color: white;
    background-color: teal;
    font-style: italic;
}