.bai1{
    background-color: chocolate;
 background-image: url(https://www.dulichhoanmy.com/Upload/Images/stories/vong_quanh_the_gioi/diem_den/diem_den_the_gioi/van_ly_truong_thanh_05.jpg);
background-repeat: no-repeat;
background-position: center;
}